/*Main style for the portal*/

body{
background-image: url("doc/background.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
}

.header{
color:white;
text-align: center;
}


.button1{
    cursor: pointer;
    border:3.5px solid;
    height:40px;
    width: 200px;
    border-top-left-radius:25px;
    border-bottom-right-radius:25px;
    border-color: white;
    background-color: white;
}

.button2{
    cursor: pointer;
    border:3.5px solid;
    height:40px;
    width: 200px;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    border-color: white;
    background-color: white;
}

.button3{
    cursor: pointer;
    border:3.5px solid;
    height:40px;
    width: 200px;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-color: white;
    background-color: white;
}


.version{
    
    font-size:1vw;
    position: fixed;
    bottom: 8px;
    right: 16px;
    
}
.article{
    font-size: 2vw;
    color: white;
    border:3px solid;
    border-color: white;
    border-radius:25px;
    height: auto;
    width: 800px;
}
.fact_pic{
    border:3.5px solid;
    border-color:white;
    border-radius:25px;
}


/*index and vicces html*/
.back{
    cursor: pointer;
    border:3.5px solid;
    height:40px;
    width: 200px;
    border-bottom-left-radius:25px;
    border-top-right-radius:25px;
    border-color: white;
    background-color: white;
								  
}

.forward{
    cursor: pointer;
    border:3.5px solid;
    height:40px;
    width: 200px;
    border-top-left-radius:25px;
    border-bottom-right-radius:25px;
    border-color:white;
    background-color: white;
								  
}

.thumbs {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    font-size: 50px;
 }
.fa {
    cursor: pointer;
    user-select: none;
 }
.fa-thumbs-up {
    size: 5000px;
    color: white;
 }
.fa-thumbs-down {
    color:white;
 }

.fa-thumbs-down:active {
    transform: scale(1.2);
        color:red;
 }
.fa-thumbs-up:active 
  {
    transform: scale(1.2);
        color:green;
 }

 /*cikk html*/

 .cikk-header{
     margin-top: 50px;
     color:white;

 }
.cikk-place{
    resize: none;
    margin-top: 30px;
}

 .cikk-button{
    margin-top: 30px;
    border:3.5px solid;
    height:40px;
    width: 200px;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    border-color:white;								   
    background-color: white;
 }

 /*admin html*/

 .admin-button{
    margin-top: 30px;
    border:3.5px solid;
    height:40px;
    width: 200px;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    border-color:white;								   
    background-color: white;
 }

 .login{
     margin-top:30px;
     color: white;
     padding:15px;
 }

 .adminCikkLista a:link {
    text-decoration: none;
 }

 /*Admin tábla*/
 #myInput {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myTable {
    background-color: white;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  }